.container {
  --container-padding: 10px;
  --notification-width: 300px;
  --transition-duration: 300ms;
  
  display: grid;
  justify-items: end;
  align-content: start;
  gap: 10px;

  position: fixed;
  right: 0;
  top: 0;

  width: auto;
  height: 95vh;
  padding: var(--container-padding);

  pointer-events: none;
  box-sizing: border-box;
  overflow: hidden auto;
  z-index: 15;
}

.notification {
  position: relative;

  width: var(--notification-width);
  padding: 8px 28px 8px 16px;

  background-color: var(--gray-light);
  color: var(--black-main);
  border: 2px solid currentColor;
  border-radius: var(--border-radius);
  font-size: 16px;
  text-align: center;
  line-height: 1.3;
  
  box-sizing: border-box;
  pointer-events: all;
  transform: translateX(calc(var(--notification-width) + var(--container-padding)));
  transition: transform var(--transition-duration);
}
.notification--danger {
  color: white;
  background-color: var(--red-dark);
  border: none;
}
.notification--visible {
  transform: none;
}

.hide-button {
  pointer-events: all;
  transform: translateX(calc(var(--notification-width) + var(--container-padding)));
  transition: transform var(--transition-duration);
}
.hide-button--visible {
  transform: none;
}

.close-button {
  position: absolute;
  top: 3px;
  right: 3px;
}