.container {
  display: grid;
  justify-items: end;
  align-content: start;
  gap: 10px;

  position: fixed;
  right: 0;
  top: 0;

  width: auto;
  height: 95vh;
  padding: 10px;

  pointer-events: none;
  box-sizing: border-box;
}

.notification {
  max-width: 300px;
  padding: 8px 16px;

  background-color: var(--gray-light);
  color: var(--black-main);
  border: 2px solid currentColor;
  border-radius: var(--border-radius);
  font-size: 16px;
  text-align: center;
  line-height: 1.3;
  
  box-sizing: border-box;
  pointer-events: all;
}
.notification--danger {
  color: white;
  background-color: var(--red-dark);
  border: none;
}

.button {
  pointer-events: all;
}