.photos-container {
  position: relative;

  width: 100%;
  max-width: 520px;
  aspect-ratio: 1/1;
}
.photos-container::before {
  content: '';

  position: absolute;
  bottom: 0;
  right: 0;

  display: block;
  width: 87%;
  height: 80%;

  background-color: var(--beige-medium);
  border-radius: 3px;
}

.photos-container__photo {
  position: absolute;
  bottom: 0;
  
  display: block;

  border-radius: 3px;

  object-fit: cover;
  object-position: center;
}

.photos-container__photo--small {
  left: 0;

  width: 50%;
  height: 30%;
}

.photos-container__photo--big {
  right: 0;

  width: 80%;
  height: 100%;
}

