.container {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(3, 1em);
  gap: 1em;
  
  color: var(--black-main);
  font-weight: bold;
}

.container button {
  padding: 0;

  background-color: transparent;
  border: none;
  color: inherit;
}
.container button svg {
  width: 50%;
  height: 50%;
}