.container {
  display: flex;
  flex-direction: column;
  gap: 12px 32px;

  margin-bottom: 24px;
  
  color: var(--gray-dark);
  font-size: clamp(14px, 2vw, 16px);

  white-space: nowrap;
}

.buttons {
  display: flex;
  gap: 8px;
}

.label {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-shrink: 0;
}

@media(min-width: 560px) {
  .container {
    flex-direction: row;
    align-items: center;
  }
}