.total-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  
  max-width: 440px;
  margin-left: auto;
  margin-right: auto;
}

@media(min-width: 780px) {
  .total-container {
    margin-right: 0;
  }
}