.background {
  padding: 2em 16px;

  font-size: clamp(20px, 3vw, 32px);
  background-color: var(--beige-light);
  color: var(--brown-dark);
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3em;
  
  max-width: var(--max-width);
  margin: auto;
}

.link {
  color: var(--brown);
  text-decoration: none;
  transition: color 300ms;
}
.link:hover {
  color: var(--brown-dark);
}

@media(min-width: 980px) {
  .background {
    padding: 2em 32px;
  }
}