/* shared */
.image {
  display: block;
  width: 100%;
  height: 100%;
  
  border-radius: var(--border-radius);
  
  object-fit: cover;
  object-position: center;
  transition: filter 500ms;
}

/* plain */
.plain__product {
  font-size: 16px;
  letter-spacing: 0.05rem;
  text-decoration: none;
}

.plain__top {
  position: relative;

  width: 100%;
  height: 225px;

  grid-column: 1 / 3;
}
.plain__top:hover .plain__search,
.plain__top:focus-visible .plain__search {
  opacity: 1;
}
.plain__top:hover .image,
.plain__top:focus-visible .image {
  filter: brightness(0.7);
}

.plain__search {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 20px;
  height: 20px;
  padding: 12px;

  color: white;
  background-color: var(--brown-main);
  border-radius: 50%;
  opacity: 0;

  transform: translate(-50%, -50%);
  transition: opacity 500ms;
  z-index: 1;
}
.plain__search svg {
  display: block;
  width: 100%;
  height: 100%;
}

.plain__bottom {
  display: flex;
  justify-content: space-between;
}

.plain__name, .plain__price {
  padding: 16px 0 0;
}

.plain__name {
  color: var(--black-main);
}

.plain__price {
  color: var(--brown-main);
  text-align: right;
}

/* detailed */
.detailed__image-container {
  display: block;
  max-width: 300px;
  height: 200px;
  margin-bottom: 12px;
}

.detailed__name {
  display: inline;
  margin: 0;
}

.detailed__price {
  margin: 0.4em 0;

  color: var(--brown-light-2);
  font-weight: bold;
  font-size: var(--font-size-small);
  letter-spacing: 0.1rem;
}

@media(min-width: 980px) {
  .detailed {
    display: flex;
    gap: 24px;
  }
  .detailed__image-container {
    width: 300px;
    flex-shrink: 0;
  }
}