.header {
  height: 80px;
  padding: 0 16px 0 0;

  box-sizing: border-box;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: inherit;
  margin: auto;
  max-width: var(--max-width);
}

.header__nav {
  display: none;

  position: fixed;
  top: 0;
  left: -100%;

  width: 100%;
  height: 100vh;

  background-color: white;
  
  z-index: 5;
  box-sizing: border-box;

  transition: 300ms;
}
.header__nav--available {
  display: block;
}
.header__nav--visible {
  left: 0;
}

.header__nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 16px 16px 16px 0;
}

.header__menu-button {
  padding: 0;
  width: 32px;
  height: 32px;

  border: none;
  background-color: transparent;
  color: var(--brown-main);
}
.header__menu-button--close {
  color: var(--red-dark);
}
.header__menu-button svg {
  width: 100%;
  height: 100%;
}

.header__pages-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.header__pages-link {
  display: block;
  padding: 14px 16px;

  color: var(--gray-dark);
  text-decoration: none;
  letter-spacing: 1px;

  transition: padding 500ms;
}
.header__pages-link:hover {
  padding-left: 30px;
  color: var(--gray-darker);
  background-color: var(--gray-light);
}

.header__profile-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;

  margin: 32px auto 0;
  padding: 0;
  
  list-style: none;
}

.header__profile-link {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 24px;
  color: var(--black-main);
  text-decoration: none;
}

@media(min-width: 980px) {
  .header {
    padding: 16px 32px 16px 16px;
  }

  .header__nav {
    position: static;
    
    display: contents;
    /* justify-content: space-between; */
    
    width: auto;
    height: auto;
  }

  .header__nav-top {
    display: none;
  }
  
  .header__menu-button--open {
    display: none;
  }

  .header__pages-list {
    display: flex;
    align-items: center;
  }

  .header__pages-link:hover {
    padding-left: 16px;
    background-color: transparent;
    text-decoration: 2px underline var(--brown-main);
    text-underline-offset: 5px;
  }

  .header__profile-list {
    margin: 0;
    gap: 24px;
  }
}