.main-photo {
  display: block;
  width: 100%;
  height: 500px;
  margin-bottom: 16px;

  border-radius: 3px;

  object-fit: cover;
  object-position: center;
}

.thumbnails {
  display: flex;
  gap: 8px;

  width: 100%;
  height: 50px;
}
.thumbnails img {
  display: block;

  width: 100%;
  height: 100%;
  border-radius: 3px;

  object-fit: cover;
  object-position: center;
}

.button {
  display: block;
  width: 100%;
  padding: 0;

  border: none;
  border-radius: var(--border-radius);
}
.button:focus {
  outline: 3px solid var(--brown-main);
  filter: brightness(120%);
}

@media(min-width: 540px) {
  .thumbnails {
    height: 100px;
    gap: 16px;
  }
}

@media(min-width: 980px) {
  .main-photo,
  .thumbnails {
    max-width: 540px;
  }
  .thumbnails {
    height: 75px;
  }
}