@layer {

  .input {
    padding: 8px 12px;
    min-width: 0;
    width: 100%;
  
    background-color: var(--gray-light);
    font-size: 13px;
    border: 1px solid var(--black);
    border-radius: 3px;
    letter-spacing: 0.1rem;
  
    box-sizing: border-box;
  }
  
  .input--type-1 {
    font-size: 16px;
    border: 2px solid var(--black);
    border-radius: 3px;
    background-color: white;
  }
  
  .fieldset {
    padding: 12px 0 0;
  
    border: none;
  }
  .fieldset legend {
    padding: 0;
  }
  
  .range {
    width: 120px;
  }
  
  .hidden-radio-label {
    position: relative;
    
    display: inline-block;
    min-width: 16px;
    height: 16px;
  }
  .hidden-radio-label:focus-within {
    outline: 2px solid olivedrab;
    outline-offset: 1px;
    border-radius: 3px;
  }
  .hidden-radio-label--high {
    height: 24px;
  }
  
  .hidden-radio {
    position: absolute;
    top: 0;
    left: 0;
  
    width: 0;
    height: 0;
    margin: 0;
  
    opacity: 0;
    
    pointer-events: none;
  }

  
}