@layer {

  .heading {
    display: block;
    margin: 0.7em 0;
    
    font-size: clamp(32px, 3.5vw, 42px);
    color: var(--black-main);
    letter-spacing: 0.1rem;
    font-weight: bold;
  }
  
  /* size */
  .heading--medium {
    font-size: clamp(26px, 3vw, 34px);
  }
  .heading--small {
    font-size: clamp(22px, 3vw, 26px);
  }
  .heading--nano {
    font-size: 16px;
  }
  .heading--pico {
    font-size: 14px;
  }
  
  /* positioning */
  .heading--no-margin {
    margin: 0;
  }
  .heading--only-bottom-margin {
    margin-top: 0;
  }
  .heading--no-shrink {
    flex-shrink: 0;
  }
  
  /* color */
  .heading--color-2 {
    color: var(--brown-dark);
  }
  
  /* style */
  .heading--capitalized {
    text-transform: capitalize;
  }
  
  .heading--underline {
    max-width: max-content;
    margin: auto;
  
    text-align: center;
  }
  .heading--underline::after {
    content: '';
  
    display: block;
    width: 35%;
    height: 0.10em;
    margin: 0.33em auto 0;
  
    background-color: var(--brown-main);
  }
  .heading--underline-alt {
    margin-left: 0;
    margin-right: 0;
  }
  .heading--underline-alt::after {
    width: 45%;
    margin: 0.33em 0 0;
  }
  
  .heading--normal-weight {
    font-weight: normal;
  }

  .heading--1-line-height {
    line-height: 1;
  }
  
}