@layer {

  /******************************/
  .cart-products-layout {
    display: flex;
    flex-direction: column;
    gap: 8px 0;
  
    color: var(--gray-main);
    letter-spacing: 0.1rem;
  }
  @media(min-width: 500px) {
    .cart-products-layout {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  @media(min-width: 780px) {
    .cart-products-layout {
      display: grid;
      grid-template-columns: 2fr repeat(3, 1fr) 32px;
      justify-items: center;
    }
  }

  /******************************/
  .distant-twins-layout {
    display: flex;
    flex-direction: column;
    gap: 12px 16px;
  }
  @media(min-width: 500px) {
    .distant-twins-layout {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  /******************************/
  .standalone {
    margin-top: 64px;
    margin-bottom: 64px;
  }
  .standalone--medium {
    margin-top: 48px;
    margin-bottom: 48px;
  }
  .standalone--small {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .standalone--no-top-margin {
    margin-top: 0;
  }
  .standalone--no-bottom-margin {
    margin-bottom: 0;
  }
  .standalone--block {
    display: block;
  }

  /******************************/
  .grid {
    --gap: 48px;

    display: grid;
    gap: var(--gap);
  }
  @media(min-width: 640px) {
    .grid {
      grid-template-columns: repeat(2, calc(50% - var(--gap) / 2));
    }
  }
  @media(min-width: 1200px) {
    .grid {
      grid-template-columns: repeat(3, calc(33.33333% - var(--gap) / 1.5));
    }
  }

  /******************************/
  .small-grid {
    --gap: 24px;

    display: grid;
    gap: var(--gap);
  
    width: 100%;
  }
  @media(min-width: 980px) {
    .small-grid {
      grid-template-columns: repeat(2, calc(50% - var(--gap) / 2));
    }
  }
  @media(min-width: 1200px) {
    .small-grid {
      grid-template-columns: repeat(3, calc(33.33333% - var(--gap) / 1.5));
    }
  }

  /******************************/
  .vertical-grid {
    display: grid;
    gap: 48px;
  }

  /******************************/
  .text-and-block {
    display: flex;
    flex-direction: column;
    gap: 48px 96px;
  }
  .text-and-block > :nth-child(2) {
    align-self: center;
  }
  /* reversed means block is on left and text on right */
  .text-and-block--reversed > :nth-child(1) {
    align-self: center;
  }
  .text-and-block--reversed > :nth-child(2) {
    align-self: auto;
  }
  
  @media(min-width: 980px) {
    .text-and-block {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  
  @media(min-width: 1200px) {
    .text-and-block {
      margin: 0;
    }
  }
 
  /******************************/
  .dual-input {
    display: flex;
  }
  .dual-input > :first-child {
    /* min-width: 0; */
  
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .dual-input > :last-child {
    flex-shrink: 0;
    
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  /******************************/
  .siblings {
    display: flex;
    flex-direction: column;
    gap: 24px 96px;
  }
  
  @media(min-width: 980px) {
    .siblings {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  
  @media(min-width: 1200px) {
    .siblings {
      margin: 0;
    }
  }

  /******************************/
  .block-and-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px 64px;
  }
  .block-and-image__image {
    width: 100%;
    max-height: 440px;
    object-fit: cover;
    object-position: center;
  }
  
  @media(min-width: 980px) {
    .block-and-image {
      flex-direction: row;
    }
    
    .block-and-image__image {
      max-width: 540px;
      max-height: 540px;
      height: 540px;
      margin: auto;
    }
  }

  /******************************/
  .center-then-right {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media(min-width: 780px) {
    .center-then-right {
      margin-right: 0;
    }
  }

  /******************************/
  .center-500-width-cap {
    max-width: 500px;
    margin: auto;
  }

  /******************************/
  .close-siblings {
    display: flex;
    gap: 16px;
    align-items: center;
    flex-wrap: wrap;
  }
}