.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.dope-list {
  display: flex;
  flex-direction: column;
  gap: 8px 12px;
}

.horizontal-list {
  display: flex;
  align-items: center;
  gap: 8px;
}

.max-width {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.standalone-element {
  margin: 64px 0;
}

.small-standalone-element {
  margin: 24px 0;
}