.container {
  display: flex;
  flex-direction: column;
  gap: 48px 96px;
}
.container > :nth-child(2) {
  align-self: center;
}
.container--reversed > :nth-child(1) {
  align-self: center;
}
.container--reversed > :nth-child(2) {
  align-self: auto;
}

@media(min-width: 980px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media(min-width: 1200px) {
  .container {
    margin: 0;
  }
}