.container {
  margin: 0 0 48px;
}

.first-part {
  display: flex;
  align-items: center;
  gap: 12px;

  font-size: 14px;

  justify-self: start;
}

.second-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image {
  display: block;
  width: 75px;
  height: 75px;

  border-radius: 3px;

  object-fit: cover;
  object-position: center;
}

.heading-link {
  color: var(--black-main);
  text-decoration: none;
}

.color-container {
  display: flex;
  align-items: center;
  gap: 8px;

  margin: 2px 0;
}

.color {
  display: block;
  width: 10px;
  height: 10px;
  
  background-color: rgb(255, 0, 255);
  border-radius: 50%;
}

.medium-screen {
  display: none;
}

@media(min-width: 500px) {
  .first-part {
    width: clamp(200px, 40vw, 260px);
  }

  .second-part {
    display: contents;
  }
}

@media(min-width: 780px) {
  .medium-screen {
    display: block;
  }

  .small-screen {
    display: none;
  }
}