.container {
  display: flex;
}
.container > :first-child {
  /* min-width: 0; */

  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.container > :last-child {
  flex-shrink: 0;
  
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}